name: Workflow Evento
on:
  pull_request:
    branches: ["main"]
jobs:
  teste:
    runs-on: ubuntu-latest
    steps:
      - name: Action de Teste
        run: echo "Action executada apenas em main e features."
